/* =========================
   BASE
========================= */

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  background: #f5f2eb;

  font-family: Arial, sans-serif;

  font-size: 16px;
}

h1 {
  margin: 0;
  font-family: serif;
  font-size: 3rem;
  color: #222;
}
h2 {
  font-family: serif;
  font-size: 3rem;
}
p {
  font-size: 1.8rem;
}

main {
  height: 700vh;
}

/* =========================
   INDICATEUR
========================= */

.scroll-indicator {
  position: fixed;

  left: 50%;
  top: 50%;

  display: flex;
  align-items: center;
  gap: 12px;

  transform: translate(-50%, -50%);

  z-index: 100;
}

.scroll-dot {
  width: 14px;
  height: 14px;

  border-radius: 50%;

  background: #c53230;
}
/* =========================
   SCENE
========================= */

.scene {
  position: relative;
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

/* =========================
   PLAN 1920 x 1080
========================= */

.stage {
  position: absolute;

  width: 1920px;
  height: 1080px;

  left: 50%;
  top: 50%;

  overflow: hidden;

  perspective: 1200px;
}

/* =========================
   MONDE
========================= */

.world {
  position: absolute;

  width: 5000px;
  height: 1080px;

  left: 0;
  top: 0;

  transform-style: preserve-3d;
  transform-origin: center center;
}

/* =========================
   TEXTES
========================= */

.text {
  position: absolute;

  margin: 0;

  font-family: serif;
  font-size: 48px;
  line-height: 1.1;

  color: #222;

  max-width: 550px;

  opacity: 0;

  z-index: 20;
}

/* -------------------------
   TEXTE 1
------------------------- */

.text1 {
  left: 150px;
  top: 120px;
}

/* -------------------------
   TEXTE 2
------------------------- */

.text2 {
  left: 1250px;
  top: 170px;
}

/* -------------------------
   TEXTE 3
------------------------- */

.text3 {
  left: 1770px;
  top: 700px;
}

/* -------------------------
   TEXTE 4
------------------------- */

.text4 {
  left: 2500px;
  top: 150px;
}

/* -------------------------
   TEXTE 5
------------------------- */

.text5 {
  left: 2670px;
  top: 700px;
}

/* -------------------------
   TEXTE 6
------------------------- */

.text6 {
  left: 3650px;
  top: 120px;
}

/* =========================
   LIGNE
========================= */

.line {
  position: absolute;

  left: 0;
  top: 390px;

  width: 5000px;
  height: 300px;

  overflow: visible;
}

.line path {
  fill: none;

  stroke: #111;
  stroke-width: 4;

  stroke-linecap: round;

  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
}

/* =========================
   POINTS
========================= */

.dot {
  position: absolute;

  border-radius: 50%;

  transform: translate(-50%, -50%) scale(0);

  z-index: 10;
}

/* -------------------------
   POINT 1
------------------------- */

.dot1 {
  left: 960px;
  top: 540px;

  width: 30px;
  height: 30px;

  background: #c53230;
}

/* -------------------------
   POINT 2
------------------------- */

.dot2 {
  left: 1550px;
  top: 460px;

  width: 100px;
  height: 100px;
  object-fit: contain;
  background: #c53230;
}

/* -------------------------
   POINT 3
------------------------- */

.dot3 {
  left: 2050px;
  top: 650px;

  width: 30px;
  height: 30px;

  background: #c53230;
}

/* -------------------------
   POINT 4
------------------------- */

.dot4 {
  left: 2880px;
  top: 610px;

  width: 150px;
  height: 150px;
}

/* =========================
   FORMES
========================= */

.shape {
  position: absolute;

  transform: scale(0);

  z-index: 5;
}

/* -------------------------
   FORME 1
------------------------- */

.shape-one {
  position: absolute;

  left: 1650px;
  top: 240px;

  width: 420px;
  height: 240px;

  object-fit: contain;

  transform: scale(0);

  z-index: 5;
}

/* -------------------------
   FORME 2
------------------------- */

.shape-two {
  left: 2150px;
  top: 240px;

  width: 300px;
  height: 420px;

  background: #c53230;
}

/* -------------------------
   FORME 3
------------------------- */

.shape-three {
  left: 2556px;
  top: 350px;

  width: 250px;
  height: 250px;

  border: 3px solid #111;
  border-radius: 100%;
}

/* -------------------------
   FORME 4
------------------------- */

.shape-four {
  left: 3050px;
  top: 250px;

  width: 180px;
  height: 180px;

  background: repeating-linear-gradient(
    0deg,
    #111 0,
    #111 4px,
    transparent 4px,
    transparent 8px
  );

  opacity: 0.8;
}

/* =========================
   COMPOSITION FINALE
========================= */

.final-images {
  position: absolute;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  overflow: hidden;

  z-index: 50;

  pointer-events: none;
}

/* =========================
   IMAGES FINALES
========================= */

.final-image {
  position: absolute;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  opacity: 0;
}

/* =========================
   PREMIERE IMAGE
========================= */

.final-image1 {
  z-index: 1;
}

/* =========================
   DEUXIEME IMAGE
========================= */

.final-image2 {
  z-index: 2;
}

/* =========================
   TROISIEME IMAGE
========================= */

.final-image3 {
  z-index: 3;
}

/* =========================
   QUATRIEME IMAGE
========================= */

.final-image4 {
  z-index: 4;
}
/* -----------------
   CARD END
----------------- */

.card-end {
  position: relative;

  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

/* -----------------
   PLAN 1920 x 1080
----------------- */

.card-end-content {
  position: absolute;

  width: 1920px;
  height: 1080px;

  left: 50%;
  top: 50%;

  transform-origin: center center;

  overflow: hidden;
}

/* -----------------
   IMAGES
----------------- */

.card-end-image {
  position: absolute;
  width: 1920px;
  height: 1080px;
  left: 0;
  top: 0;
  object-fit: cover;
}

/* -----------------
   EAU
----------------- */

.water {
  opacity: 0;
}

/* -----------------
   OISEAU
----------------- */

.bird {
  position: absolute;

  width: 480px;
  height: 480px;

  left: 0;
  top: 0;

  object-fit: contain;

  z-index: 20;
}

/* -----------------
   AUTRES IMAGES
----------------- */

.sun,
.blue-mountain,
.right-mountain,
.left-mountain,
.right-tree,
.left-tree,
.bridge {
  opacity: 0;
}

/* -----------------
   DESIGN 1920 x 1080
----------------- */

.design {
  position: absolute;

  width: 1920px;
  height: 1080px;

  left: 50%;
  top: 50%;
}

/* -----------------
   TEXTE
----------------- */

.card-end-text {
  position: absolute;

  left: 50%;
  top: 22%;

  transform: translateX(-50%);

  width: 700px;

  text-align: center;

  z-index: 10;
}

/* -----------------
   OISEAU
----------------- */

.bird {
  position: absolute;

  width: 480px;
  height: 480px;

  left: 0;
  top: 0;

  object-fit: contain;

  z-index: 20;
}

/* -----------------
   AUTRES IMAGES
----------------- */

.sun,
.blue-mountain,
.right-mountain,
.left-mountain,
.right-tree,
.left-tree,
.bridge {
  opacity: 0;
}

/* -----------------
   TEXTE
----------------- */

.card-end-text {
  position: absolute;

  left: 50%;
  top: 22%;

  transform: translateX(-50%);

  width: 700px;

  text-align: center;

  z-index: 10;
}
